.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;     
    background-color: rgb(108, 171, 223);
    align-items: center;
}
.errorMessage{
    color: red;
    font-size: 1em;
    font-weight: 600;
}

.loginTitle{
    font-size: 3.4em;
    margin-top: 0.4em;
    font-weight: 600;
}

.loginForm{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 18em;
    height: 16em;
    padding: 2em;
    background-color: #e5ded1;
    border-radius: 3em;
}


.label_input > label {
    font-weight: 700;
    margin: 10px 0;
    font-size: 1.5em;
    padding: 0.2em;
}
.loginInput {
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 1em;
    width: -webkit-fill-available;
}
.loginInput:focus{
    outline: none;
    background-color: cornflowerblue;
    color: white;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: orange;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 1.5em;
    margin-right: 3em;
    margin-left: 3em;
}
.loginButton:active {
    color: orange;
    background-color:white ;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: rgb(243, 193, 175);
}

.loginRegisterButton{
    position: absolute;
    margin-top: 15px;
    right: 20px;
    background-color: teal;
    color: white;
    border: none;
    padding: 0.4em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
}
.loginRegisterButton:active {
    color: green;
    background-color:white ;
}
@media only screen and (max-width: 600px) {
    .login{
        height: calc(100vh - 181px);
    }
    .loginRegisterButton{
        position: absolute;
        margin-top: 15px;
        right: 20px;
        background-color: teal;
        color: white;
        border: none;
        padding: 0.4em;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.2em;
    }
    .loginButton{
       
        margin-right: 2em;
        margin-left: 2em;
    }
    .label_input > label {
        font-weight: 700;
        margin: 10px 0;
        font-size: 1.4em;
        padding: 0.2em;
    }
    .loginForm{
        margin-top: 1em;
        width: 13em;
        height: 16em;
    }


    .loginTitle{
        font-size: 2.8em;
        margin-top: 2em;
        font-weight: 600;
    }
}