.posts {
    flex: 9 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    justify-content: center; /* Horizontally aligns the container in the center */
}

.text {
    margin-bottom: 5em;
}


.postsButton {
  padding: 1em 2em;
  background-color: rgb(0, 255, 110);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  transition: all 0.3s ease;
  height: fit-content;
  width: max-content;
  animation: diagonalFlow 2s infinite;
}