:root {
    --main-bg-color: rgb(145, 181, 210);
    --main-font-size: 50px;
    --form-margin-top: 20px;
}

.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    align-items: center;
}

/* Title styles */
.registerTitle {
    margin-top: 50px;
    font-size: var(--main-font-size);
}

/* Form styles */
.registerForm {
    margin-top: var(--form-margin-top);
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: #fff;
}