.top {
  width: 100%;
  height: 50px;
  background-color: orange;
  position: sticky; /* change to sticky cz if we scroll it'll not scrolled it always be in the screen*/
  top: 0;
  display: flex; /*creating flexbox to add all element horzontally in topbar*/
  align-items: center;
  font-family: "Varela", sans-serif;
  z-index: 999;
}

.topLeft,
.topRight {
  flex: 3; /* to creating flexbox*/
  display: flex;
  align-items: center;
  justify-content: center; /*to allign the icons in the centre*/
}
.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer; /*by this when the cursor go to the particulr id elements it will change cursor*/
}
.topCentre {
  flex: 6;
}

.topImage {
  top: 40px;
  width: 40px;
  border-radius: 40%;
  object-fit: cover;
  cursor: pointer;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topSearchIcon.active {
  color: green;
}
.shake {
  animation: shake 1s linear;
}
.topSearchIcon {
  font-style: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 1em;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 600px) {
  @keyframes slideIn {
    from {
      min-height: 2em;
      /* opacity: 0; */
    }
    to {
      height: min-content;
      /* opacity: 1; */
    }
  }
  .top.Active{
    position: fixed;
    height: min-content;
    animation: slideIn 0.5s ease-in-out;
  }
  .top {
    width: 100%;
    
  }
  .topLeft, .topRight, .topCentre {
    display: none;
  }
  .topRight.Active{
    display: block;
  }
  .topCentre.Active{
    display: block;
  }
  .topListItem {
    margin-right: 10px;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
  }
  .topLeft {
    display: none;
  }
  .topListItem {
    margin-top: 1em;
  }

  .topList {
    display: block;
  }
  

  .top {
    /* padding-top: 1em; */
    display: block;
    min-height: 2em;
  }
  .hamburger {
    display: block;
    width: 2.5em;
    float: right;
  }
  .hamburger__line {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    background-color: black;
  }
  .hamburger.Active{
    /* width: 6em; */
  }
  
  .topListItem:nth-child(1){
    margin-left: 1em;
  }
  .hamburger__line:nth-child(1).Active {
    transform: rotate(-45deg) translate(-5px, 9px);
  }
  .hamburger__line:nth-child(2).Active{
    opacity: 0;
  }
  .hamburger__line:nth-child(3).Active{
    transform: rotate(45deg) translate(-6px, -11px);
  }
  .topListItem {
    font-size: 1.6em;
    padding: 0.1em;
  }
}
