.home {
  display: flex;
  flex-direction: column;
}
.home__loading {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.home__loading__icon {
  display: block;
  height: 17em;
  width: 23em;
}
.home__loading__icon img {
  max-width: 100%;
  height: auto;
}
.greeting {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}
.home__content__search {
  margin-top: 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2em;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 25em;
  height: 3em;
}
.home__content__search__input {
  width: inherit;
  border-radius: 10px;
  border: none;
  height: 2.8em;
}
.home__content__search__input:focus {
  outline: none;
}
.home__content__search__input:focus {
  background-color: antiquewhite;
}
.home__loading__text {
  text-align: center;
  margin-top: 2em;
}

.text {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

@media only screen and (max-width: 600px) {
  .home__content__search {
    max-width: 15em;
  }
  .home__loading {
    margin-bottom: 8em;
  }
  .home__loading__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17em;
  }
}
