.Contact{
    margin-top: 20%;
    &__Cards {
        display: flex;
        flex-direction: column;
        margin: 3% 6% 6% 6%;
        border-radius: 1em;
        box-shadow: -1px 1px 28px 8px #94c8e9 ;
        flex-wrap: wrap;
        &__Card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 2em;
        }
    }
    &__Heading{
        margin-top: 6%;
        text-align: center;
        font-size: 2.1em;
        font-weight: 600;
    }
}



@media only screen and (max-width: 600px) {
    .Contact{
        &__Cards {
            margin-top: 5%;
            &__Card{
                justify-content: center;
                align-items: center;
            }
        }
        &__Heading{
            margin: 15% 4% 11% 4%;
            font-size: 2em;
        }
    }
}
