.MarkDown{
    &__Heading{
        font-weight: 600;
        font-size: 2em;
        text-align: center;
    }
    &__Desc{
        color: #b39656;
        font-weight: 600;
        font-size: 1.5em;
        margin: 1em;
    }
   
}