.MarkDown{
    &__Heading{
        font-weight: 600;
        font-size: 1.7em;
        text-align: center;
    }
    &__Desc{
        font-weight: 600;
        font-size: 1em;
        margin: 2em;
    }
   
}