.write {
  margin-left: 240px;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover; /* by this the image will be cropped, not disturbing the size of img */
}

.writeIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;

  /* for center the icon  */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  color: gray;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

/* to remove the boundary while clicking on tite  */
.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  height: 100vh;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  font-size: 16px;
}

.Url {
  font-size: 15px;
}
.note {
  color: #b39656;
  margin-left: 10em;
}

@media only screen and (max-width: 600px) {
  .write {
    margin-left: 0;
    margin-top: -4em;
  }
  .writeFormGroup {
    margin-left: 2em;
    display: flex;
    align-items: center;
  }
  .note {
    margin: 0;
    text-align: center;
    padding: 1em;
  }
}
