.home {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start; // prevents vertical centering

  &__content {
    flex: 3;
  }

  &__sidebar {
    flex: 1;
    height: fit-content;
    position: sticky;
    top: 7em; // match header gap
    align-self: flex-start; // keep it from shifting
  }
}
@media (max-width: 768px) {
  .home__sidebar{
    display: none;
  }
}